html article code {
    color: #222;
}

html.theme--documenter-dark article code {
    color: #00cbf4;
}

html .content table th  {
    vertical-align: bottom;
}
html .content table td {
    vertical-align: middle;
}

html.theme--documenter-dark .content table th  {
    vertical-align: bottom;
}
html.theme--documenter-dark .content table td {
    vertical-align: middle;
}

h1#무장-일람 ~ table tr 
    th {
        font-size: 0.1px;
        width: 20px;
        padding: 3px;
    }

h1#무장-일람 ~ table tr
    th:nth-child(1) {
       width: 300px;
    }

h1#무장-일람 ~ table tr
    th:nth-child(4) {
       width: 600px;
    }

h1#무장-일람 ~ table tr
    th:nth-child(2),
    th:nth-child(3) {
        width: 300px;
    }

h1#무장-일람 ~ table tr
    td {
        font-size: 1pt;
    }

h1#무장-일람 ~ table tr
    td:nth-child(1),
       td:nth-child(2),
       td:nth-child(3),
       td:nth-child(4) {
       width: 10%;
       font-size: 10pt;
    }

h1#무장-일람 ~ table tr
    td:nth-child(1) {
       width: 20%;
    }

h1#무장-일람 ~ table tr
    td:nth-child(4) {
       width: 40%;
    }

h1#무장-일람 ~ table tr
    td:nth-child(4) code {
       font-size: 1pt;
    }
