html article code {
    color: #222;
}

html.theme--documenter-dark article code {
    color: #00cbf4;
}

html .content table th  {
    vertical-align: bottom;
}
html .content table td {
    vertical-align: middle;
}

html.theme--documenter-dark .content table th  {
    vertical-align: bottom;
}

html.theme--documenter-dark .content table td {
    vertical-align: middle;
}

html .content table tr:nth-child(even) {
       background: #eeeeee;
   }

html.theme--documenter-dark .content table tr:nth-child(even) {
       background: #101010;
   }

html .content h1#무장-일람 ~ table tr 
    th:nth-child(3) {
        white-space: nowrap;
    }

html .content h1#무장-일람 ~ table tr 
    th:nth-child(5),
    th:nth-child(6),
    th:nth-child(7),
    th:nth-child(8),
    th:nth-child(9),
    th:nth-child(10),
    th:nth-child(11),
    th:nth-child(12),
    th:nth-child(13) {
        font-size: small;
    }

html .content h1#무장-일람 ~ table tr
    td {
        padding: 3px;
    }

html .content h1#무장-일람 ~ table tr
    td:nth-child(1),
    td:nth-child(2),
    td:nth-child(3) {
        white-space: nowrap;
    }

html .content h1#무장-일람 ~ table tr
    td:nth-child(4) code {
        font-size: small;
    }

html .content h1#무장-일람 ~ table tr
    th:nth-child(7) {
	   color: blue;
    }

html .content h1#무장-일람 ~ table tr
    td:nth-child(7) {
	   color: blue;
    }

html .content h1#무장-일람 ~ table tr
    th:nth-child(8) {
       color: brown;
    }

html .content h1#무장-일람 ~ table tr
    td:nth-child(8) {
       color: brown;
    }

html.theme--documenter-dark .content h1#무장-일람 ~ table tr
    th:nth-child(7) {
	   color: yellow;
    }

html.theme--documenter-dark .content h1#무장-일람 ~ table tr
    td:nth-child(7) {
	   color: yellow;
    }

html.theme--documenter-dark .content h1#무장-일람 ~ table tr
    th:nth-child(8) {
	   color: orange;
    }

html.theme--documenter-dark .content h1#무장-일람 ~ table tr
    td:nth-child(8) {
	   color: orange;
    }
